<!-- delet show html template-->
{% extends 'base.html' %}
{% block title %}Supprimer un spectacle{% endblock title %}

{% block content %}
<div class="container">
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Suppression</h4>
        <p> Etes vous sûr de supprimer location {{ a_show.title }} ? </p>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <a href="{% url 'show' %}"> Annuler </a>
            <button type="submit" class="btn btn-primary"> Confirmer</button>
        </form>
    </div>
</div>
{% endblock content %}