<!-- location list html template-->
{% extends "base.html" %}
{% block title %}Liste des lieux d'évenements{% endblock title %}

{% block header %} <h2> Emplacements des spectacles ! </h2> {% endblock header %}

{% block content %}
<!-- the search bar button with bootstrap customization-->

    <section class="content">
        <h1> Liste des lieux d'évenements </h1>
        <form>
            <div class="input-group">
                <input name="search" class="form-control" placeholder=" Rechercher.. " value="{{search_term}}">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        {% if request.user.is_staff %}
        <a href="{% url 'CreateLocation' %}" class="btn btn-primary btn-sm m-1"> Ajouter Location </a>
        <!-- A mettre dans la nav bar-->
        {% endif %}
        <div class="list-group m-4">
            {% for une_loc in locations %}
            <a href='{{ une_loc.get_absolute_url }}' class="list-group-item list-group-item-action">{{ une_loc.designation }}</a>
            {% endfor %}
        </div>
      <!--pagination part -->
      <div class="pagination">
      {% if locations.has_previous %}
        <a class="btn btn-outline-secondary mb-5" href="?page=1">Première page</a>
        <a class="btn btn-outline-secondary mb-5" href="?page={{ locations.previous_page_number }}">Page précédente</a>
        {% endif %}

        {% for num in locations.paginator.page_range %}
        {% if locations.number == num %}
        <a class="btn btn-secondary mb-5" href="?page= {{ num }}">{{ num }}</a>
        {% elif num > locations.number|add:'-5' and num < locations.number|add:'5' %}
        <a class="btn btn-outline-secondary mb-5" href="?page= {{ num }}">{{ num }}</a>
        {% endif %}

        {% endfor %}

        {% if locations.has_next %}
        <a class="btn btn-outline-secondary mb-5" href="?page={{ locations.next_page_number }}">Page suivante</a>
        <a class="btn btn-outline-secondary mb-5" href="?page={{ locations.paginator.num_pages }}">Dernière page</a>
        {% endif %}

    </div>

</section>

{% endblock content %}
