<!--password change confirm template-->
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Changez le mot de passe{% endblock %}

{% block content %}
  {% if validlink %}
    <h3>Changez le mot de passe</h3>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy}}
      <button type="submit" class="btn btn-success">Modifiez votre mot de passe</button>
    </form>
  {% else %}
    <p>
      Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé.
      Veuillez procéder à une nouvelle réinitialisation du mot de passe.
    </p>
  {% endif %}
{% endblock %}