{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Liste des flux rss de Mon Théatre ICC :</h1>
        <div class="row text-center justify-content-center" id="api-list">
            <div class='col-3 m-4'>
                <a href="{% url 'rss_representation' %}">
                    <img src='https://siena.rosselcdn.net/sites/default/files/dpistyles_v2/ena_16_9_extra_big/2020/03/03/node_528136/1875862/public/2020/03/03/B9722794159Z.1_20200303212829_000%2BG00FLAM29.1-0.jpg?itok=en3U4CwQ1583267320'>
                    <p class="py-4 bg-dark text-white">Représentations</p>
                </a>
            </div>
            <div class='col-3 m-4'>
                <a href="{% url 'rss_location' %}">
                    <img src='https://www.willemen.be/sites/default/files/styles/contractors_page_project_slide/public/field/image/ZOO_ECA_personeelsopening_JonasVerhulst-15.jpg?itok=Zqcn-vvw'>
                    <p class="py-4 bg-dark text-white">Localisations</p>
                </a> 
            </div>
            <div class='col-3 m-4'>
                <a href="{% url 'rss_show' %}">
                    <img src='https://zupimages.net/up/20/13/q7dc.jpg'>
                    <p class="py-4 bg-dark text-white">Nos nouveaux spectacles</p>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
